name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Build
      run: ./mvnw package
    - name: Validate serverless
      uses: serverless/github-action@master
      with:
        args: deploy --noDeploy
